.organizar{
    display: flex;
    justify-content: center;

}


.numero2{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3,300px);
        gap: 100px;
      }
      


